
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
body{
      background-color:#063867;
      width: 100%;
      height: 100%;
font-family: monospace;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


.MainTime{
    border: solid rgb(4, 4, 235) 4px;
     width: 18rem; 
    height: 8rem;
    background-color: #192329;
    border-radius: 10px;
    box-shadow: 0 0 20px #1e48bd;
display: flex;
flex-direction: column;
color: white;
}


.MainTime::after{
content: "";
position: relative;
width: 8%;
bottom: -12px;
left: 25px;
height: 8px;
background-color: #0277bc;
transform: translate(-50%,4%);
    border-radius: 3px 3px 3px 3px ;
    
}
    

.MainTime::before{
    content: "";
    position: relative;
    width: 8%;
    bottom: -123px;
    left: 260px;
    height: 8px;
    background-color: #0277bc;
    transform: translate(-50%,10%);
    border-radius: 3px 3px 3px 3px ;
}

.inside1{
    display: flex;
    justify-content:space-around;
    align-items: baseline;
    font-size: 1.6em;

}
h1.Hours{
    color: red;
}
h1.minutes{
    color: green;
}
h1.seconds{
    color: yellow;
}
sub.ampm{
    border: 1px solid blue;
    background-color: blue;
    letter-spacing: 2px;
}
h4.MonthsdaysDate{
    color: rgb(226, 192, 129);
}

.inside2{
    display: flex;
justify-content: center;
margin-top: auto; 
letter-spacing: 2.4px;   
}


